<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Fichas</title>
    <link rel="stylesheet" href="../../../static/ficha/listado/styles.css" th:href="@{/ficha/listado/styles.css}">
</head>
<body>
    <a role="button" id="boton-volver" href="../Menu/index.html" th:href="@{/home}"><img id="imagen-volver" src="listado/images/icons8-atrás-64.png" alt="">Volver al Menú</a>
    <h1 id="titulo-pagina">Lista Fichas Opticas</h1>
    <hr id="hr-underline">

    <div id="container-table">
        <div id="container-cabeza">
            <button class="boton-cabeza" id="boton-filtros" onclick="muestraFiltros()"><img id="imagen-filtro" src="listado/images/icons8-filtrar-48.png" alt=""><span>Filtros</span></button>
            <div id="container-input">
                <input id="input-ficha" type="text" placeholder="Buscar Cliente">
                <img id="imagen-lupa" src="listado/images/baseline_search_white_36dp.png" alt="">
            </div>
            <button class="boton-cabeza" id="boton-pagar"><span>Marcar como pago</span></button>
        </div>

        <div id="wrapper">
            <table>
                <thead>
                    <tr id="tr-cabeza">
                        <th id="th-input"><input id="input-checkbox" type="checkbox"></th>
                        <th id="th-ficha">Ficha</th>
                        <th id="th-fecha">Fecha De Entrega</th>
                        <th id="th-cliente">Cliente</th>
                        <th id="th-seña">Señado</th>
                        <th id="th-saldo">Saldo</th>
                        <th id="th-total">Total</th>
                        <th id="th-editar" class="th-accion"></th>
                        <th id="th-eliminar" class="th-accion"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-detalle" th:each="ficha: ${listaFichas}">
                        <td><input type="checkbox"></td>
                        <td th:text="'#' + ${ficha.idFicha}"></td>
                        <td th:text="${#temporals.format(ficha.fecha,'dd/MM/yyyy')}"></td>
                        <td th:text="${ficha.cliente.nombre}"></td>
                        <td><input type="checkbox" th:checked="${ficha.senia != 0}" readonly></td>
                        <td th:text="${#numbers.formatCurrency(ficha.saldo)}"></td>
                        <td th:text="${#numbers.formatCurrency(ficha.total)}"></td>
                        <td class="td-editar">
                            <button class="boton-tabla boton-editar"><a th:href="@{/ficha/findById(id=${ficha.idFicha})}"><img class="imagen-editar" src="listado/images/icons8-editar-48.png"></a></button>
                        </td>
                        <td class="td-elimnar">
                            <button class="boton-tabla boton-eliminar"><a th:href="@{/ficha/delete(id=${ficha.idFicha})}"><img class="imagen-eliminar" src="listado/images/icons8-basura-48.png"></a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button id="boton-agregar"><a th:href="@{/ficha/new}">+</a></button>
    </div>

    <script src="scripts.js"></script>

</body>
</html>