<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--  <head th:replace="~{ficha/common/fragmentosFicha.html :: head}"></head> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FICHA OPTICA</title>
    <link rel="stylesheet" href="../../../static/ficha/styles.css" th:href="@{/ficha/styles.css}">
</head>

<body th:action="@{/ficha/save}">
    <a role="button" id="boton-volver" href="../Listado Ficha/index.html"><img id="imagen-volver" src="images/icons8-atrás-64.png" alt="">Volver al Listado</a>
    <h1 id="titulo-pagina">Ficha Optica</h1>
    <hr id="linea-underline">
    <button id="boton-imprimir"><img id="imagen-impresora" src="images/icons8-imprimir-50.png" alt=""></button>
    <div id="container-ficha">
        <div id="container-cabeza">
            <h3 id="titulo-ficha">Nº 7777</h3>
            <label for="" class="label-cabeza" id="label-fecha">Fecha Ingreso:</label>
            <input type="date" id="input-fecha">
            <div id="container-datos-cliente">          
                <label for="" class="label-cabeza" id="label-nombre">Cliente:</label>
                <select name="" id="input-nombre" class="input-cabeza"></select>      
                <label for="" class="label-cabeza" id="label-telefono">Telefono:</label>
                <input type="number" class="input-cabeza" id="input-telefono" maxlength="10">
                <label for="" class="label-cabeza" id="label-domicilio">Domicilio:</label>
                <input type="text" class="input-cabeza" id="input-domicilio">
            </div>
        </div>

        <div th:replace="~{ficha/common/fragmentosFicha.html :: container-datos}"></div> 

        <hr id="linea-cerca">
        
        <div th:replace="~{ficha/common/fragmentosFicha.html :: container-datos}"></div>
        
        <hr id="linea-lejos">

        <div id="container-polifocal">
            <div id="container-checkbox">
                <input type="radio" id="input-bifocal">
                <label for="" id="label-bifocal">BIFOCAL</label>
                <input type="radio" id="input-multifocal">
                <label for="" id="label-multifocal">MULTIFOCAL</label>
            </div>

			<div th:replace="~{ficha/common/fragmentosFicha.html :: container-ojos}"></div>

            <div class="container-tablas" id="container-tablas-polifocal">
            
            	<table th:replace="~{ficha/common/fragmentosFicha.html :: tabla2}"></table>
            
	            <table id="tabla-3">
	                <thead>
				        <tr th:replace="~{ficha/common/fragmentosFicha.html :: tr-titulo-tabla3}"></tr>
				    </thead>
				    <tbody>
				    	<tr th:replace="~{ficha/common/fragmentosFicha.html :: tr-tabla-combo}"></tr>
				    </tbody>
	            </table>
	           
            </div>
            
            <div class="container-totales-tabla" id="container-totales-polifocal">
                <div class="container-total"><input class="input-total" type="number"></div>
            </div>
	            
        </div>

        <hr id="linea-polifocal">
        
        <div id="container-total-ficha">
            <div id="container-labeles">
                <label for="" id="label-total">Total</label>
                <label for="" id="label-seña">Seña</label>
                <label for="" id="label-saldo">Saldo</label>
            </div>
            <div class="container-totales-tabla" id="container-totales">
                <div id="container-total-final" class="container-totales-finales"></div>
                <div id="container-total-seña" class="container-totales-finales"><input type="number" class="input-tabla"></div>
                <div id="container-total-saldo" class="container-totales-finales"></div>
            </div>
            
        </div>
    </div>
    <button id="boton-eliminar"><img id="imagen-eliminar" src="images/icons8-basura-48.png" alt="">Eliminar</button>
    <button id="boton-grabar"><img id="imagen-grabar" src="images/icons8-guardar-50.png" alt="">Grabar</button>
</body>
</html>