<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--  <head th:replace="~{ficha/common/fragmentosFicha.html :: head}"></head> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FICHA OPTICA</title>
    <link rel="stylesheet" href="../../../static/ficha/formulario/styles.css" th:href="@{/ficha/formulario/styles.css}">
</head>

<body th:object="${ficha}">
    <a role="button" id="boton-volver" href="../Listado Ficha/index.html"><img id="imagen-volver" src="formulario/images/icons8-atrás-64.png" alt="">Volver al Listado</a>
    <h1 id="titulo-pagina">Ficha Optica</h1>
    <hr id="linea-underline">
    <button id="boton-imprimir">
        <a th:href="@{/ficha/download(id=${ficha.idFicha}, sobreescribir=${ficha.estaImpreso})}">
            <img id="imagen-impresora" src="formulario/images/icons8-imprimir-50.png">
        </a>
    </button>
    <div id="container-ficha" >
        <div id="container-cabeza">
            <h3 id="titulo-ficha" th:text="${ficha.idFicha == null}? 'Nº ':'Nº ' + ${ficha.idFicha}"></h3>
            <label class="label-cabeza" id="label-fecha">Fecha Ingreso:</label>
            <input type="date" id="input-fecha" th:value="${ficha.fecha}">
            <div id="container-datos-cliente">
                <label class="label-cabeza" id="label-nombre">Cliente:</label>
                <select id="input-nombre" class="input-cabeza" th:field="*{cliente}">
                    <option value="0"></option>
                    <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nombre}" th:selected="${cliente.nombre=='Laura'}"></option>
                </select>
                <label class="label-cabeza" id="label-telefono">Telefono:</label>
                <input type="number" class="input-cabeza" id="input-telefono" maxlength="10" th:field="*{cliente.telefono}">
                <label class="label-cabeza" id="label-domicilio">Domicilio:</label>
                <input type="text" class="input-cabeza" id="input-domicilio" th:field="*{cliente.direccion}">
            </div>
        </div>

        <div class="container-datos" th:each="i : ${#numbers.sequence(0, 1)}" th:with="lente=${ficha.lentes}">
            <h4 class="titulo-lente" th:text="${i==0}? 'Cerca':'Lejos'"></h4>

            <div th:replace="~{ficha/common/fragmentosFicha.html :: container-ojos(esPolifocal=false)}"></div>

            <div class="container-tablas" th:with="medidas=${((lente.size()-1)>=i)}? ${lente[i].medidasLentes}">
                <table>
                    <thead th:replace="~{ficha/common/fragmentosFicha.html :: tabla1-titulos}"></thead>
                    <tbody>
                        <tr th:each="j : ${#numbers.sequence(0, 1)}">
                            <td>
                                <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].esferico}" type="number" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="number" class="input-tabla">
                            </td>
                            <td>
                                <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].cilindrico}" type="number" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="number" class="input-tabla">
                            </td>
                            <td>
                                <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].eje}" type="number" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="number" class="input-tabla">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead th:replace="~{ficha/common/fragmentosFicha.html :: tabla2-titulos}"></thead>
                    <tbody>
                        <tr th:each="medida: ${medidas}">
                            <td><input th:value="${medida.esOjoDerecho}? ${medidas[0].distanciaIntercupilar}:${medidas[1].distanciaIntercupilar}" type="number" class="input-tabla"></td>
                            <td><input th:value="${medidas[i].altura}" type="number" class="input-tabla"></td>
                        </tr>

<!--
                        <tr th:unless="${medidas.size()<2}" th:each="j : ${#numbers.sequence(0, 1)}">
                            <td>
                                <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].distanciaIntercupilar}" type="number" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="number" class="input-tabla">
                            </td>
                            <td>
                                <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].altura}" type="number" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="number" class="input-tabla">
                            </td>
                        </tr>-->
                    </tbody>
                </table>
                <table>
                    <thead th:replace="~{ficha/common/fragmentosFicha.html :: tabla3-titulos}"></thead>
                    <tbody>
                        <tr th:each="j : ${#numbers.sequence(0, 1)}">
                            <td>
                                <input th:if="${medidas!=null}" th:checked="${medidas.size()-1>=j}? ${medidas[j].esMineral}" type="checkbox" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="checkbox" class="input-tabla">
                            </td>
                            <td>
                                <input th:if="${medidas!=null}" th:checked="${medidas.size()-1>=j}? ${medidas[j].esOrganico}" type="checkbox" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="checkbox" class="input-tabla">
                            </td>
                            <td>
                                <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].cristal.nombre}" type="number" class="input-tabla">
                                <input th:unless="${medidas!=null}" type="number" class="input-tabla">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container-totales-tabla" th:with="medidas=${lente.size()-1>=i}? ${lente[i].medidasLentes}">
                <div th:each="j : ${#numbers.sequence(0, 1)}" th:class="${j==0}? 'container-total container-total-derecho':'container-total container-total-izquierdo'" >
                    <input th:if="${medidas!=null}" th:value="${medidas.size()-1>=j}? ${medidas[j].precio}" class="input-total" type="number">
                    <input th:unless="${medidas!=null}" class="input-total" type="number">
                </div>
                <div class="container-total container-total-armazon">
                    <input th:value="${lente.size()-1>=i}? ${lente[i].armazon.precio}" class="input-total" type="number">
                </div>
            </div>

            <label class="label-armazon">Armazon:</label>
            <select name="" class="combo-armazon">
                <option></option>
                <option></option>
            </select>
            <hr class="linea-monofocal">
        </div>

        <div id="container-polifocal">
            <div id="container-checkbox">
                <input type="radio" id="input-bifocal">
                <label id="label-bifocal">BIFOCAL</label>
                <input type="radio" id="input-multifocal">
                <label id="label-multifocal">MULTIFOCAL</label>
            </div>

			<div th:replace="~{ficha/common/fragmentosFicha.html :: container-ojos(esPolifocal=true)}"></div>

            <div class="container-tablas" id="container-tablas-polifocal">
                <table>
                    <thead th:replace="~{ficha/common/fragmentosFicha.html :: tabla2-titulos}"></thead>
                    <tbody>
                        <tr th:each="j : ${#numbers.sequence(0, 1)}" >
                            <td>
                                <input  type="number" class="input-tabla" >
                            </td>
                            <td>
                                <input  type="number" class="input-tabla" >
                            </td>
                        </tr>
                    </tbody>
                </table>
	            <table id="tabla-3">
                    <thead th:replace="~{ficha/common/fragmentosFicha.html :: tabla3-titulos}"></thead>
				    <tbody>
				    	<tr>
                            <td th:each="i : ${#numbers.sequence(1, 2)}"><input class="input-checkbox" type="checkbox"></td>
                            <td>
                                <select name="" class="combo-tratamiento">

                                </select>
                            </td>
                        </tr>
				    </tbody>
	            </table>
            </div>

            <div class="container-totales-tabla" id="container-totales-polifocal">
                <div class="container-total"><input class="input-total" type="number"></div>
            </div>
        </div>

        <hr id="linea-polifocal">
        
        <div id="container-total-ficha">
            <div id="container-labeles">
                <label id="label-total">Total</label>
                <label id="label-seña">Seña</label>
                <label id="label-saldo">Saldo</label>
            </div>
            <div class="container-totales-tabla" id="container-totales">
                <div id="container-total-final" class="container-totales-finales">
                    <input type="number" class="input-tabla" th:value="${ficha.total}">
                </div>
                <div id="container-total-seña" class="container-totales-finales">
                    <input type="number" class="input-tabla" th:value="${ficha.senia}">
                </div>
                <div id="container-total-saldo" class="container-totales-finales">
                    <input type="number" class="input-tabla" th:value="${ficha.saldo}">
                </div>
            </div>
        </div>
    </div>
    <button id="boton-eliminar"><img id="imagen-eliminar" src="images/icons8-basura-48.png" alt="">Eliminar</button>
    <button id="boton-grabar"><img id="imagen-grabar" src="images/icons8-guardar-50.png" alt="">Grabar</button>

    <script src="/ficha/formulario/scripts.js"></script>
</body>
</html>